@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle{
  width: 96px;
  height: 96px;
  border: 10px solid #808080;
  border-radius: 50%;
}

.cross{
  width: 96px;
  height: 96px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before, .cross::after{
  content: "";
  position: absolute;
  background: #ffa500;
}

.cross::before{
  left: 60%;
  width: 15%;
  margin-left: -17%;
  height: 100%;
}

.cross::after{
  top: 60%;
  height: 15%;
  margin-top: -17%;
  width: 100%;
}